<section class="sample-app-content">
    <h1>Template-driven Form Example (with bi-directional data binding):</h1>
    <form #myForm="ngForm" (ngSubmit)="create()">
        <p>
            <label>user name:</label>
            <input type="text"  name="username"
                [(ngModel)]="user.username" required>
        </p>
        <p>
            <label>email :</label>
            <input type="text" name="email"
                [(ngModel)]="user.email" required>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</section>